In [136]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# Any results you write to the current directory are saved as output.

/kaggle/input/yelp-dataset-based-on-fake-reviewers/cleaned_data.csv
/kaggle/input/deceptive-opinion-spam-corpus/deceptive-opinion.csv

In [137]:
import re
import string
from nltk.corpus import stopwords
from bs4 import BeautifulSoup
import nltk
from nltk.corpus import stopwords
from nltk.stem import SnowballStemmer

In [138]:
df = pd.read_csv('/kaggle/input/deceptive-opinion-spam-corpus/deceptive-opinion.csv')

In [139]:
df.head()

,deceptive,hotel,polarity,source,text
0,truthful,conrad,positive,TripAdvisor,We stayed for a one night getaway with family ...
1,truthful,hyatt,positive,TripAdvisor,Triple A rate with upgrade to view room was le...
2,truthful,hyatt,positive,TripAdvisor,This comes a little late as I'm finally catchi...
3,truthful,omni,positive,TripAdvisor,The Omni Chicago really delivers on all fronts...
4,truthful,hyatt,positive,TripAdvisor,I asked for a high floor away from the elevato...

In [140]:
df = df.drop(["hotel", "polarity","source"], axis=1)

In [141]:
df = df.sample(frac=1)

In [142]:
df.head()

      deceptive                                               text
494   deceptive  Homewood Suites by Hilton Chicago Downtown is ...
1547  deceptive  When I first made reservations at The Palmer H...
782   deceptive  The Palmer House Hilton was recommended to me ...
75     truthful  The reviews we read were a bit mixed, but I th...
1421  deceptive  My wife and I stayed at the Ambassador East Ho...

In [143]:
from sklearn import preprocessing 

# label_encoder object knows how to understand word labels. 
label_encoder = preprocessing.LabelEncoder() 

# Encode labels in column 'species'. 
df['deceptive']= label_encoder.fit_transform(df['deceptive']) 

df['deceptive'].unique()

array([0, 1])

In [144]:
df.head()

      deceptive                                               text
494           0  Homewood Suites by Hilton Chicago Downtown is ...
1547          0  When I first made reservations at The Palmer H...
782           0  The Palmer House Hilton was recommended to me ...
75            1  The reviews we read were a bit mixed, but I th...
1421          0  My wife and I stayed at the Ambassador East Ho...

In [145]:
#dataset description #truthful=1 deceptive=0
df.groupby('deceptive').describe()

           text
          count unique                                                top freq
deceptive
0           800    800  I stayed at the Swissotel Chicago while I was ...    1
1           800    796  Very disappointed in our stay in Chicago Monoc...    2

In [146]:
def clean_text(text):
    
    ## Remove puncuation
    text = text.translate(string.punctuation)
    
    ## Convert words to lower case and split them
    text = text.lower().split()
    
    ## Remove stop words
    stops = set(stopwords.words("english"))
    text = [w for w in text if not w in stops and len(w) >= 3]
    
    text = " ".join(text)

    # Clean the text
    text = re.sub(r"[^A-Za-z0-9^,!.\/'+-=]", " ", text)
    text = re.sub(r"what's", "what is ", text)
    text = re.sub(r"\'s", " ", text)
    text = re.sub(r"\'ve", " have ", text)
    text = re.sub(r"n't", " not ", text)
    text = re.sub(r"i'm", "i am ", text)
    text = re.sub(r"\'re", " are ", text)
    text = re.sub(r"\'d", " would ", text)
    text = re.sub(r"\'ll", " will ", text)
    text = re.sub(r",", " ", text)
    text = re.sub(r"\.", " ", text)
    text = re.sub(r"!", " ! ", text)
    text = re.sub(r"\/", " ", text)
    text = re.sub(r"\^", " ^ ", text)
    text = re.sub(r"\+", " + ", text)
    text = re.sub(r"\-", " - ", text)
    text = re.sub(r"\=", " = ", text)
    text = re.sub(r"'", " ", text)
    text = re.sub(r"(\d+)(k)", r"\g<1>000", text)
    text = re.sub(r":", " : ", text)
    text = re.sub(r" e g ", " eg ", text)
    text = re.sub(r" b g ", " bg ", text)
    text = re.sub(r" u s ", " american ", text)
    text = re.sub(r"\0s", "0", text)
    text = re.sub(r" 9 11 ", "911", text)
    text = re.sub(r"e - mail", "email", text)
    text = re.sub(r"j k", "jk", text)
    text = re.sub(r"\s{2,}", " ", text)
    
    text = text.split()
    stemmer = SnowballStemmer('english')
    stemmed_words = [stemmer.stem(word) for word in text]
    text = " ".join(stemmed_words)

    return text

In [147]:
# Some preprocesssing that will be common to all the text classification methods

puncts = [',', '.', '"', ':', ')', '(', '-', '!', '?', '|', ';', "'", '$', '&', '/', '[', ']', '>', '%', '=', '#', '*', '+', '\\', '•',  '~', '@', '£', 
 '·', '_', '{', '}', '©', '^', '®', '`',  '<', '→', '°', '€', '™', '›',  '♥', '←', '×', '§', '″', '′', 'Â', '█', '½', 'à', '…', 
 '“', '★', '”', '–', '●', 'â', '►', '−', '¢', '²', '¬', '░', '¶', '↑', '±', '¿', '▾', '═', '¦', '║', '―', '¥', '▓', '—', '‹', '─', 
 '▒', '：', '¼', '⊕', '▼', '▪', '†', '■', '’', '▀', '¨', '▄', '♫', '☆', 'é', '¯', '♦', '¤', '▲', 'è', '¸', '¾', 'Ã', '⋅', '‘', '∞', 
 '∙', '）', '↓', '、', '│', '（', '»', '，', '♪', '╩', '╚', '³', '・', '╦', '╣', '╔', '╗', '▬', '❤', 'ï', 'Ø', '¹', '≤', '‡', '√', ]

def clean_char(x):
    x = str(x)
    for punct in puncts:
        if punct in x:
            x = x.replace(punct, f' {punct} ')
    return x

In [148]:
def clean_numbers(x):
    if bool(re.search(r'\d', x)):
        x = re.sub('[0-9]{5,}', '#####', x)
        x = re.sub('[0-9]{4}', '####', x)
        x = re.sub('[0-9]{3}', '###', x)
        x = re.sub('[0-9]{2}', '##', x)
    return x

In [149]:
df['text'] = df['text'].map(lambda a: clean_numbers(a))

In [150]:
df['text'] = df['text'].map(lambda a: clean_char(a))

In [151]:
df['text'] = df['text'].map(lambda a: clean_text(a))

In [152]:
df['text']

494     homewood suit hilton chicago downtown wonder h...
1547    first made reserv palmer hous hilton excit gor...
782     palmer hous hilton recommend friend visit chic...
75      review read bit mix thought excel stay splendi...
1421    wife stay ambassador east hotel last month son...
447     hyatt regenc chicago hotel delight stay never ...
1542    servic subpar room need better clean check cou...
170     stay hard rock januari night locat michigan av...
264     recent trip chicago attend major trade show pl...
43      husband decid take trip chicago last minut qui...
897     noisi constant water run pipe terribl much bet...
1292    disappoint hotel stay swissotel enjoy much ser...
1316    one better experi first arriv hotel tri get ro...
331     wife redeem hilton reward point stay night pal...
0       stay one night getaway famili thursday tripl a...
1306    husband stay hotel suppos romant weekend far c...
1085    disappoint stay chicago monoco stay mani time ...
1121    use hotel first time chicago price classifi in...
98      stay sheraton navi pier first weekend novemb p...
981     book two room four month advanc talbott place ...
926     travel chicago mani time busi expect hotel bas...
559     stay hotel weekend thought realli nice bed ext...
573     talbot hotel eleg place take wife husband week...
529     swissotel chicago delight visit locat downtown...
159     back knickerbock would give best rate believ b...
70      wife stay middl februari took subway hotel har...
968     request quiet room sever week advanc yet given...
727     intercontinent hotel truli hidden treasur nest...
133     perfect locat clean courteous staff ad great s...
1567    although architectur hotel quaint posit teribl...
                              ...
608     stay two night meet upscal chain hotel clean s...
1002    found hotel small luxuri hotel world booklet s...
870     bare averag hotel premium price hotel beauti l...
1271    whenev decid stay fairmont chicago millennium ...
761     friend visit amalfi hotel last week chicago fo...
1178    room wasveri tini warm give illus control temp...
717     downtown chicago hilton best combin thing look...
704     enjoy stay jame chicago much hotel eleg uber m...
1177    fourth time stay allegro previous time noth go...
304     strike architectur begin describ one best hote...
1520    recent stay hotel allegro chicago busi trip sa...
213     stay night great hotel updat room clean use ti...
430     realli enjoy stay beauti hotel entir staff hel...
448     omni chicago hotel offer great amen comfort ex...
1392    wife stay abassador east hotel august attend a...
1358    sheraton chicago hotel tower one wors hotel st...
1154    locat good check ask non smoke room given floo...
521     sheraton chicago hotel tower everyth could ask...
1018    book travel websit hotel current undergo major...
147     recent celebr anniversari chicago stay sherato...
639     husband came ambassador east hotel sister wed ...
407     recent wed omni hotel chicago pleas decis use ...
555     enjoy stay swissotel downtown chicago eleg cla...
1064    hotel total overr yes locat awesom plenti near...
1005    hotel shambl furnitur liter fall apart staff r...
361     stay king suit hotel allegro memori day weeken...
1250    advertis luxuri hotel conrad chicago goug gran...
784     go chicago last month want nice hotel close re...
480     first let say wonder wife refer hotel friend t...
696     stay hilton chicago pleasur arriv departur sta...
Name: text, Length: 1600, dtype: object

In [153]:
df.describe()

         deceptive
count  1600.000000
mean      0.500000
std       0.500156
min       0.000000
25%       0.000000
50%       0.500000
75%       1.000000
max       1.000000

In [154]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1600 entries, 494 to 696
Data columns (total 2 columns):
deceptive    1600 non-null int64
text         1600 non-null object
dtypes: int64(1), object(1)
memory usage: 37.5+ KB

In [155]:
x = df['text']
y = df['deceptive']

In [156]:
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.metrics import accuracy_score, confusion_matrix

In [157]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(df['text'], df['deceptive'], random_state=5)
print('Number of rows in the total set: {}'.format(df.shape[0]))
print('Number of rows in the training set: {}'.format(X_train.shape[0]))
print('Number of rows in the test set: {}'.format(X_test.shape[0]))

Number of rows in the total set: 1600
Number of rows in the training set: 1200
Number of rows in the test set: 400

In [158]:
X_train, X_test, y_train, y_test

(894     general speak noth bad place would clean issu ...
 471     husband stay short get away weekend love conve...
 1455    made regular busi trip chicago decid stay hote...
 595     magnific mile chicago great place visit stay a...
 22      actual book reserv hotel phone got great rate ...
 322     wife decid spend three day chicago last summer...
 865     line check desk tremend long decid use compute...
 1385    recent trip chicago stay ambassador east hotel...
 862     omni chosen locat whichwork perfect bed wond e...
 874     stay fairmont two saturday row stay disappoint...
 1464    sofitel chicago water tower downtown area adve...
 281     want nice place stay night dinner theater daug...
 481     thank sheraton tower invit enjoy indoor pool g...
 474     hyatt regenc chicago one beauti hotel ever sta...
 690     hilton hotel help make trip chicago central lo...
 680     stay sever differ hotel chicago jame best ever...
 908     would recommend stay swissotel chicago travel ...
 1206    chicago mani wonder luxuri hotel tourist busi ...
 992     chicago skinni hope run wash rock star cece de...
 1007    travel chicago visit daughter live citi supris...
 1049    check sofitel chicago water tower day left hot...
 1074    parent book five night jame locat good review ...
 1122    stay pre construct nois problem other experien...
 186     stylish hotel locat right north michigan avenu...
 1424    stay hotel labor day weekend pretti aw staff r...
 413     recent travel chicago busi confer lucki enough...
 67      husband stay new year eve weekend excel hotel ...
 225     prepar hotel old histor list updat done doubt ...
 213     stay night great hotel updat room clean use ti...
 397     hotel beauti excel locat minor issu hotel clea...
                               ...
 26      simpli nice place stay great deal room impress...
 323     wife spent sever night getaway excurs choos pr...
 797     last month husband stay intercontinent chicago...
 1205    realli look forward nice relax stay end long v...
 657     stay weekend visit friend town littl pricey de...
 1077    locat ideal high ceil room appear much larger ...
 1466    travel chicago stay sofitel chestnut street th...
 1280    stay millennium knickerbock hotel chicago one ...
 597     stay affinia last weekend ideal wait return to...
 1176    stay amalfi night say read review expect littl...
 399     second time stay much look forward weekend ama...
 1032    sit hotel right review impress room hotel mode...
 666     wife stay last weekend honeymoon wonder hotel ...
 727     intercontinent hotel truli hidden treasur nest...
 1465    stay hotel like jame price point expect certai...
 59      great properti excel locat wonder staff everyo...
 1546    hotel dizzi bold color pattern everywher smell...
 1216    friend stay hyatt regenc chicago weekend visit...
 76      husband wonder stay omni chicago hotel contact...
 698     stay jame one bedroom apart two week chicago v...
 204     hard rock hotel natur choic book block room se...
 1067    hotel impress upon enter staff friend howev fe...
 1035    stand craptast excus shower buttnak cold soap ...
 1479    stay last august truli glad never stay websit ...
 1069    recent return trip chicago husband babi anoth ...
 1478    disappoint hotel front desk clerk rude person ...
 957     say avoid place cost reserv assist took minut ...
 254     hotel reserv anoth hotel set read negat review...
 490     moment walk impress staff courteous knowledg a...
 329     stay chicago night dec read review trip adviso...
 Name: text, Length: 1200, dtype: object,
 1187    disappoint say least heard rave rave hotel all...
 1258    hyatt regenc chicago basic cater guest want fe...
 1474    visit chicago area chose hotel monaco chicago ...
 41      paid night pricelin excel june room fantast vi...
 1532    need find last minut hotel stay night came one...
 607     write recent stay ambassador east hotel want l...
 1503    found stay hotel monaco chicago less satisfact...
 1159    stay palmer hous attend confer chicago state b...
 1061    stay enthusiast posit review trip advisor yelp...
 843     stay time around mark differ qualiti servic st...
 910     upon first enter hotel greet friend help bellm...
 117     visit chicago two teenag daughter homewood sui...
 879     stay hotel week look forward stay top class ho...
 840     fairmont hotel general prefer choic true disap...
 541     hotel one superior hotel price reason benefit ...
 1484    arriv find room readi despit past 3pm check ti...
 810     outmod worn furnish combin poor origin design ...
 646     ask better home base check downtown chicago ho...
 989     stay talbott time alway like time first visit ...
 347     love hotel six floor make easi get elev recept...
 644     travel chicago husband romant weekend away sta...
 1539    recent stay amalfi hotel chicago disappoint ri...
 406     visit conrad chicago heart downtown luxuri exp...
 198     stay great review true high impress high quali...
 904     wife frequent stay downtown night citi mani ho...
 1226    name conrad luxuri hilton hotel illicit noth i...
 769     hotel allegro chicago beauti place origin drea...
 1141    check room empti beer bottl dirti short closet...
 1469    hotel monaco hotel say charact found decor tac...
 877     pros con pros good locat nice staff clean room...
                               ...
 1331    recent stay homewood suit hilton chicago downt...
 748     night ago stay hotel allegro theater district ...
 320     return girl shop sight see trip palmer hous li...
 1437    book room hotel expect great accommod consid p...
 1349    stay three night recent hilton homewood suit d...
 1208    origin chosen conrad chicago hotel locat near ...
 278     need extra night chicago gratus stay penninsul...
 1530    although intercontinent chicago hotel locat ma...
 653     famili chose stay chicago hilton last trip cit...
 1219    wife went chicago enjoy weekend stay hyatt reg...
 572     got marri chicago area pass weeknd guest stay ...
 802     2nd time stay hyatt regenc chicago first time ...
 871     famili dub omni chicago fawlti tower alway see...
 90      back busi trip homewood great locat magnific m...
 421     windi citi fairmont hotel one chicago best rec...
 1354    walk millennium knickerbock hotel first though...
 967     back spend memori day weekend chicago decid st...
 885     stay swissotel three day weekend disappoint se...
 216     stay night apri check stay perfect round staff...
 662     decid stay jame last weekend kid reserv famili...
 1292    disappoint hotel stay swissotel enjoy much ser...
 1241    latest busi trip wife recent stay omni chicago...
 543     perfect place coupl get away locat better thre...
 818     frustrat hotel post deal promin websit claim s...
 1368    stay affina chicago anniversari hotel great lo...
 1018    book travel websit hotel current undergo major...
 1554    genuin surpris stay hotel wall paper thin coul...
 1044    return jame hotel stay park hyatt stay chicago...
 89      stay busi night realli like attract classi com...
 1235    recent displeasur stay conrad chicago although...
 Name: text, Length: 400, dtype: object,
 894     1
 471     0
 1455    0
 595     0
 22      1
 322     1
 865     1
 1385    0
 862     1
 874     1
 1464    0
 281     1
 481     0
 474     0
 690     0
 680     0
 908     1
 1206    0
 992     1
 1007    1
 1049    1
 1074    1
 1122    1
 186     1
 1424    0
 413     0
 67      1
 225     1
 213     1
 397     1
        ..
 26      1
 323     1
 797     0
 1205    0
 657     0
 1077    1
 1466    0
 1280    0
 597     0
 1176    1
 399     1
 1032    1
 666     0
 727     0
 1465    0
 59      1
 1546    0
 1216    0
 76      1
 698     0
 204     1
 1067    1
 1035    1
 1479    0
 1069    1
 1478    0
 957     1
 254     1
 490     0
 329     1
 Name: deceptive, Length: 1200, dtype: int64,
 1187    1
 1258    0
 1474    0
 41      1
 1532    0
 607     0
 1503    0
 1159    1
 1061    1
 843     1
 910     1
 117     1
 879     1
 840     1
 541     0
 1484    0
 810     1
 646     0
 989     1
 347     1
 644     0
 1539    0
 406     0
 198     1
 904     1
 1226    0
 769     0
 1141    1
 1469    0
 877     1
        ..
 1331    0
 748     0
 320     1
 1437    0
 1349    0
 1208    0
 278     1
 1530    0
 653     0
 1219    0
 572     0
 802     1
 871     1
 90      1
 421     0
 1354    0
 967     1
 885     1
 216     1
 662     0
 1292    0
 1241    0
 543     0
 818     1
 1368    0
 1018    1
 1554    0
 1044    1
 89      1
 1235    0
 Name: deceptive, Length: 400, dtype: int64)

In [159]:
from sklearn.feature_extraction.text import CountVectorizer
count_vector = CountVectorizer()
print(count_vector)

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
                dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
                lowercase=True, max_df=1.0, max_features=None, min_df=1,
                ngram_range=(1, 1), preprocessor=None, stop_words=None,
                strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
                tokenizer=None, vocabulary=None)

In [160]:
training_data = count_vector.fit_transform(X_train)
testing_data = count_vector.transform(X_test)

In [161]:
from sklearn.naive_bayes import MultinomialNB
naive_bayes = MultinomialNB()
naive_bayes.fit(training_data, y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [162]:
predictions = naive_bayes.predict(testing_data)

In [164]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
mnbaccuracy = accuracy_score(y_test, predictions)
print('Accuracy score: ', format(accuracy_score(y_test, predictions)))
print('Precision score: ', format(precision_score(y_test, predictions)))
print('Recall score: ', format(recall_score(y_test, predictions)))
print('F1 score: ', format(f1_score(y_test, predictions)))

Accuracy score:  0.9025
Precision score:  0.9325842696629213
Recall score:  0.8601036269430051
F1 score:  0.894878706199461

In [165]:
from sklearn.svm import SVC 
svc = SVC()
svc.fit(training_data, y_train)

/opt/conda/lib/python3.6/site-packages/sklearn/svm/base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
    kernel='rbf', max_iter=-1, probability=False, random_state=None,
    shrinking=True, tol=0.001, verbose=False)

In [166]:
svc_predictions = svc.predict(testing_data)

In [167]:
from sklearn.metrics import accuracy_score
svcaccuracy = accuracy_score(y_test,svc_predictions)
print('Accuracy score: ', format(accuracy_score(y_test,svc_predictions)))
print('Precision score: ', format(precision_score(y_test,svc_predictions)))
print('Recall score: ', format(recall_score(y_test, svc_predictions)))
print('F1 score: ', format(f1_score(y_test, svc_predictions)))

Accuracy score:  0.5625
Precision score:  0.525
Recall score:  0.9792746113989638
F1 score:  0.6835443037974684

In [168]:
from sklearn.neighbors import KNeighborsClassifier 
knn = KNeighborsClassifier(n_neighbors = 7)
knn.fit(training_data, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=7, p=2,
                     weights='uniform')

In [169]:
knn_predictions = knn.predict(testing_data)

In [170]:
from sklearn.metrics import accuracy_score
knnaccuracy = accuracy_score(knn_predictions,y_test )
print('Accuracy score: ', format(accuracy_score(knn_predictions,y_test )))
print('Precision score: ', format(precision_score(y_test,knn_predictions)))
print('Recall score: ', format(recall_score(y_test, knn_predictions)))
print('F1 score: ', format(f1_score(y_test, knn_predictions)))

Accuracy score:  0.5825
Precision score:  0.8421052631578947
Recall score:  0.16580310880829016
F1 score:  0.27705627705627706

In [171]:
from sklearn.naive_bayes import GaussianNB 
gnb = GaussianNB()
training_data1 = training_data.toarray()
gnb.fit(training_data1, y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [172]:
testing_data1= testing_data.toarray()
gnb_predictions = gnb.predict(testing_data1)

In [173]:
from sklearn.metrics import accuracy_score
gnb_accuracy = accuracy_score(gnb_predictions,y_test )
print('Accuracy score: ', format(accuracy_score(gnb_predictions,y_test )))
print('Precision score: ', format(precision_score(y_test,gnb_predictions)))
print('Recall score: ', format(recall_score(y_test, gnb_predictions)))
print('F1 score: ', format(f1_score(y_test, gnb_predictions)))

Accuracy score:  0.665
Precision score:  0.6577540106951871
Recall score:  0.6373056994818653
F1 score:  0.6473684210526316

In [174]:
# training a DescisionTreeClassifier 
from sklearn.tree import DecisionTreeClassifier 
dtree_model = DecisionTreeClassifier(max_depth = 2)
dtree_model.fit(training_data1, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=2,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [175]:
dtree_predictions = dtree_model.predict(testing_data)

In [176]:
from sklearn.metrics import accuracy_score
dtree_accuracy = accuracy_score(dtree_predictions,y_test )
print('Accuracy score: ', format(accuracy_score(dtree_predictions,y_test )))
print('Precision score: ', format(precision_score(y_test,dtree_predictions)))
print('Recall score: ', format(recall_score(y_test, dtree_predictions)))
print('F1 score: ', format(f1_score(y_test, dtree_predictions)))

Accuracy score:  0.66
Precision score:  0.6255506607929515
Recall score:  0.7357512953367875
F1 score:  0.6761904761904761

In [178]:
from sklearn.linear_model import SGDClassifier

In [179]:
sgd_clf = SGDClassifier()
sgd_clf.fit(training_data, y_train)

SGDClassifier(alpha=0.0001, average=False, class_weight=None,
              early_stopping=False, epsilon=0.1, eta0=0.0, fit_intercept=True,
              l1_ratio=0.15, learning_rate='optimal', loss='hinge',
              max_iter=1000, n_iter_no_change=5, n_jobs=None, penalty='l2',
              power_t=0.5, random_state=None, shuffle=True, tol=0.001,
              validation_fraction=0.1, verbose=0, warm_start=False)

In [180]:
sgdpredicted = sgd_clf.predict(testing_data)

In [181]:
from sklearn.metrics import accuracy_score
sgd_accuracy = accuracy_score(sgdpredicted,y_test )
print('Accuracy score: ', format(accuracy_score(sgdpredicted,y_test )))
print('Precision score: ', format(precision_score(y_test,sgdpredicted)))
print('Recall score: ', format(recall_score(y_test, sgdpredicted)))
print('F1 score: ', format(f1_score(y_test, sgdpredicted)))

Accuracy score:  0.8775
Precision score:  0.8913043478260869
Recall score:  0.8497409326424871
F1 score:  0.8700265251989391

In [184]:
from sklearn.linear_model import LogisticRegression

In [185]:
lr = LogisticRegression()
lr.fit(training_data, y_train)

/opt/conda/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [186]:
lrpredicted = lr.predict(testing_data)

In [187]:
from sklearn.metrics import accuracy_score
lr_accuracy = accuracy_score(lrpredicted,y_test )
print('Accuracy score: ', format(accuracy_score(lrpredicted,y_test )))
print('Precision score: ', format(precision_score(y_test,lrpredicted)))
print('Recall score: ', format(recall_score(y_test, lrpredicted)))
print('F1 score: ', format(f1_score(y_test, lrpredicted)))

Accuracy score:  0.87
Precision score:  0.8691099476439791
Recall score:  0.8601036269430051
F1 score:  0.8645833333333333

In [188]:
print('Multinomial Naive Bayes:',mnbaccuracy)
print('Gausian Naive Bayes:',gnb_accuracy)
print('Decision tree:',dtree_accuracy)
print('Support Vector Classifier:',svcaccuracy)
print('K-Nearest Neighbour:',knnaccuracy)
print('Stochastic Gradient Descent:',sgd_accuracy)
print('LogisticRegression:',lr_accuracy)

Multinomial Naive Bayes: 0.9025
Gausian Naive Bayes: 0.665
Decision tree: 0.66
Support Vector Classifier: 0.5625
K-Nearest Neighbour: 0.5825
Stochastic Gradient Descent: 0.8775
LogisticRegression: 0.87

In [ ]:
from sklearn.cluster import KMeans
kmeans = KMeans(n_clusters=2)
kmeans.fit(training_data)
y_kmeans = kmeans.predict(training_data)

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns; sns.set()

In [ ]:
from nltk.stem.porter import PorterStemmer
from nltk.corpus import stopwords

In [ ]:
ps = PorterStemmer()

In [ ]:
stemmed_dataset = []
for i in range(0,1600):
    stemmed_array = df['text'][i].split()
    stemmed = [ps.stem(word) for word in stemmed_array if not word in set(stopwords.words('english'))]
    stemmed = ' '.join(stemmed)
    stemmed_dataset.append(stemmed)

In [ ]:
print(stemmed[0:1600])

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

In [ ]:
cv = CountVectorizer()
X = cv.fit_transform(stemmed_dataset)

In [ ]:
from sklearn.cluster import KMeans
wcss =[]

In [ ]:
for i in range(1,1600):
    kmeans =  KMeans(n_clusters=i, init='k-means++', max_iter = 300, n_init=10, random_state = 0, verbose=True)
    kmeans.fit(X)
    wcss.append(kmeans.inertia_)